body{
    font-family: 'Poppins', sans-serif;
}
.bold-heading{

    font-family: 'Playfair Display', serif;
    border-left: 4px solid;
    padding-left: 10px;
    border-color: salmon;


    
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
    

}
.half-width{
    width: 50%;
    padding: 5%;
    margin-left: 100px;
}
.half-width img{
    width: 80%;
}
.stay-focused{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    
}
#heading-color-a{
    color: rgb(8, 26, 44);
    font-weight: 900px;
    
}
#heading-color-b{
    color: orange;
    font-weight: 900px;
}
#sect-heading{
    text-align: center;
}
.photos img{
    width: 30%;

}
.photos{
    border: transparent solid;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;

}
#box-a{
    background-color: rgb(204, 213, 216);
   
}
#box-b{
    background-color: rgb(214, 196, 192);
}
#box-c{
    background-color: rgb(221, 206, 177);
}
.boxes{
    padding: 80px;
}